.home-page{
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    & > * {
      flex: 1;
    }

    @media (min-width: 1100px) {
      flex-direction: row;
      gap: 2rem;
    }
 .welcome-msg{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    & > * {
      flex: 1;
    }
    h3{
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.5rem;
      color: rgb(17 24 39);
      text-align: center;
    }
  }
  .left{
    margin-top: 1rem;
  }

}
.stati{
  background: #fff;
  height: auto;
  padding:1em;
  margin:1em 0; 
    -webkit-transition: margin 0.5s ease,box-shadow 0.5s ease; /* Safari */
    transition: margin 0.5s ease,box-shadow 0.5s ease; 
  -moz-box-shadow:0px 0.2em 0.4em rgb(0, 0, 0,0.8);
-webkit-box-shadow:0px 0.2em 0.4em rgb(0, 0, 0,0.8);
box-shadow:0px 0.2em 0.4em rgb(0, 0, 0,0.8);
}
.stati:hover{ 
  margin-top:0.5em;  
  -moz-box-shadow:0px 0.4em 0.5em rgb(0, 0, 0,0.8); 
-webkit-box-shadow:0px 0.4em 0.5em rgb(0, 0, 0,0.8); 
box-shadow:0px 0.4em 0.5em rgb(0, 0, 0,0.8); 
}
.stati .ng-fa-icon{
  font-size:3.5em; 
} 
.stati div{
  width: calc(100% - 3.5em);
  display: block;
  float:right;
  text-align:right;
}
.stati div b {
  font-size:1.5em;
  width: 100%;
  padding-top:0px;
  margin-top:-0.2em;
  margin-bottom:1rem;
  display: block;

  @media (min-width: 748px) {
    font-size: 2rem;
  }
}
.stati div span {
  font-size:1em;
  width: 100%;
  color: rgb(0, 0, 0,0.8); 
  display: block;

  @media (min-width: 748px) {
    font-size: 1rem;
  }
}

.stati.left div{ 
  float:left;
  text-align:left;
}

.stati.bg-carrot { background: rgb(230, 126, 34); color:white;} 

  

.stati.carrot { color: rgb(230, 126, 34); } 

   