<nav>
  <div class="menu-container">
    <contact-filter></contact-filter>
    <a mat-icon-button color="primary" routerLink="/contact/edit">
      <fa-icon [icon]="faPlus"></fa-icon>
    </a>
  </div>
  <div *ngFor="let letter of getLetters()">
    <div class="nav-header">
      <div class="nav-header-title">{{ letter }}</div>
    </div>
    <contact-preview
      *ngFor="let contact of getContactsByLetter(letter)"
      (remove)="remove.emit($event)"
      [contact]="contact"
    ></contact-preview>
  </div>
</nav>
