<nav>
  <div class="menu-container">
    <contact-filter></contact-filter>
    <a mat-icon-button color="primary" routerLink="/contact/edit"
      >
      <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="5" y1="12" x2="19" y2="12" /></svg>
      </a
    >
  </div>
  <div *ngFor="let letter of getLetters()">
    <div class="nav-header">
      <div class="nav-header-title">{{ letter }}</div>
    </div>
    <contact-preview
      *ngFor="let contact of getContactsByLetter(letter)"
      (remove)="remove.emit($event)"
      [contact]="contact"
    ></contact-preview>
  </div>
</nav>
